<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon style="margin-right: 12px; font-size: 200%; padding-bottom: 4px">local_movies</mat-icon>AngularMovies
        </a>
        <a routerLink="movies/filter" mat-button>
            <mat-icon style="margin-right: 4px; padding-bottom: 2px">search</mat-icon> Search Movies
        </a>
        <a routerLink="genres" mat-button>Genres</a>
        <a routerLink="actors" mat-button>Actors</a>
        <a routerLink="movietheaters" mat-button>Movie Theaters</a>
        <a routerLink="movies/create" mat-button>Create Movie</a>
    </span>
</mat-toolbar>